# # OSX
# #
# .DS_Store

# # Xcode
# #

# *.pbxuser
# !default.pbxuser
# *.mode1v3
# !default.mode1v3
# *.mode2v3
# !default.mode2v3
# *.perspectivev3
# !default.perspectivev3
# xcuserdata
# *.xccheckout
# *.moved-aside
# DerivedData
# *.hmap
# *.ipa
# *.xcuserstate

# # Android/IntelliJ
# #


# .gradle
# local.properties
# *.iml


# # node.js
# #
# npm-debug.log
# yarn-error.log

# # BUCK
# buck-out/
# \.buckd/
# *.keystore
# !debug.keystore
# node_modules/

# # fastlane
# #
# # It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# # screenshots whenever they are needed.
# # For more information about the recommended setup visit:
# # https://docs.fastlane.tools/best-practices/source-control/

# */fastlane/report.xml
# */fastlane/Preview.html
# */fastlane/screenshots

# # Bundle artifact
# *.jsbundle

# # CocoaPods
# /ios/Pods/
# Node modules
node_modules/

# React Native Packager
*.packager
*.bundle
*.map

# React Native Debugger
.react-native-debugger/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android
android/.gradle/
android/app/build/
android/.idea/
android/local.properties
android/*.iml
android/captures/
*.keystore

# iOS
ios/build/
ios/Pods/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcuserdatad/
ios/.idea/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# Xcode
*.xcuserstate
*.xcscmblueprint
*.xcworkspace
*.xcuserdatad
*.hmap

# Fastlane
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots/

# Metro bundler
.expo/
.expo-shared/
*.expo

# Bundle output
*.jsbundle

# Test coverage
coverage/

# VS Code
.vscode/

# Buck
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Prettier
.prettierignore
.prettierrc

# ESLint
.eslintrc
.eslintrc.js
.eslintcache

# EditorConfig
.editorconfig

# Watchman
.watchmanconfig

# Misc
*.swp
.idea/
